

.preloader-1 {
    margin: 15rem auto 0;
    width: 10rem;
    height: 12px;
}

.preloader-2 {
    margin: 18rem auto 0;
}

.pre {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
}

.preloader-1 .line {
    width: 3px;
    height: 24px;
    background: #fff;
    margin: 0 2px;
    display: inline-block;
    animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-2 .line {
    width: 3px;
    height: 24px;
    background: #fff;
    margin: 0 2px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out;
}

.preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity-2 {
    0% {
        opacity: 1;
        height: 15px;
    }
    50% {
        opacity: 0;
        height: 12px;
    }
    100% {
        opacity: 1;
        height: 15px;
    }
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: #0c0513;
    /*background-image: url(../../assets/pre.svg);*/
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}
